.textAmount:focus,
.textAmount:hover {
    border-color: #000 !important;
    border: none;

}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #000 !important;
    border: none !important;
}

.css-1o79yss-MuiGrid-root {
    height: max-content;
    padding-bottom: 63px;
}


.card-contanier{
    justify-content: flex-start !important;


}


.hidLogo{
    display: none;}



@media (max-width:1060px) {

    .appLinks .MuiBox-root ,.MuiBox-root .mobileNave {
        margin: 0;
 
    }
.mobileNave{
        height: 80px;
    }
    .appLinks .links{
        margin: 4px;
    }

    .simplebar-content {
        height: 5.6rem;
    }
}

.MuiContainer-root.MuiContainer-maxWidthLg {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: -63px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 {
    padding-bottom: 12px;
}

.MuiGrid-root.MuiGrid-container{
    justify-content: center;
    padding-top: 24px;
}


.hold{
    margin-bottom: -32px;
}
@media (min-width:1700px) {
    .MuiContainer-root.MuiContainer-maxWidthLg {
        max-width: 1274px;
    }

}

@media (max-width:970px) {
    .showLogo{
        display: none !important;
    }
    .logo.hideLogo{
        display: unset !;
    }

 
    
}



@media (max-width:700px) {
    .footContainer ,.itmes{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
  .about{
    margin-top: 5px;
  }
  .appLinks{
    display: flex;
    flex-direction: column !important;
    margin: 0;
    margin-top: 30px;

  }
  .appLinks .items,.appLinks .links{
    margin: 5px; 
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;}

    .appLinks .items >div{padding-left: 0;}
    .appLinks .links a{
        width: 160px;
    }

.cart-container{
    height: auto;
    min-height: 966px;
  
}
.cart-container .itemsCart{

padding-top: 0 !important;
}
.titlePopUp{
    font-size: 15px !important;
}


}