.textAmount:focus,
.textAmount:hover {
    border-color: #000 !important;
    border: none;

}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #000 !important;
    border: none !important;
}

.css-1o79yss-MuiGrid-root {
    height: max-content;
    padding-bottom: 63px;
}


.card-contanier {
    justify-content: flex-start !important;


}


.hidLogo {
    display: none;
}

.mobileNave {
    height: 80px;
    padding: 10px 2px;
}
.footer-contanier .aboutLInks{
    display: none;
}


@media (max-width:1060px) {

    .appLinks .MuiBox-root,
    .MuiBox-root .mobileNave {
        margin: 0;

    }


    .appLinks .links {
        margin: 4px;
    }

    .simplebar-content {
        height: 5.6rem;
    }
}

.MuiContainer-root.MuiContainer-maxWidthLg {
    padding-top: 6px;
    padding-bottom: 6px;
    /* margin-bottom: -63px; */
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 {
    padding-bottom: 12px;
}

.MuiGrid-root.MuiGrid-container {
    justify-content: center;
    padding-top: 24px;
}


.hold {
    margin-bottom: -32px;
}

.footer-contanier {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:"5px";
    padding:80px 10px;

} */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: 300px;
}


.footContainer .logo {
    width: 350px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 180px;

}

.footer-contanier .aboutus,
.footer-contanier .contactus {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 150px !important;
    flex-direction: column;


}

.aboutus h1,
.contactus h1 {
    margin-bottom: 2px;
    font-weight: normal;
    padding-bottom: 5px;
}

.aboutus .items,
.contactus .items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.itemContact {
    margin: 5px;
}

.itemContact a {
    margin-left: 5px;
}

.footerLInks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.twoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.imgLink {
    margin: 0;
    margin-left: 5px;
}

.footerLInks img {
    margin-right: 10px;
}

.items {
    text-align: left;
    align-self: flex-start;
}


.footer-contanier .hideLogo {
    display: none;
}
.aboutLInks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:500px;
}


@media (min-width:1700px) {
    .MuiContainer-root.MuiContainer-maxWidthLg {
        max-width: 1274px;
    }

}

@media (max-width:970px) {
    .showLogo {
        display: none !important;
    }

    .logo.hideLogo {
        display: unset !;
    }



}

.showLinks{
    display: none;
}

@media (max-width:1100px) {
    .cardCategory {
        width: 280px;
        height: 280px;
    }

}
@media (max-width:700px) {

     .footer-contanier .aboutShow{
       display: none !important;
    }
    .showLinks{
       display: flex !important;
       justify-content: space-evenly;
       align-items: center;
       width: 100% !important;
       margin-top: 20px;
       margin-bottom: 20px;
   
   }

}

@media (max-width:740px) {


    .cart-container {
        height: auto;
        min-height: 966px;

    }

    .cart-container .itemsCart {

        padding-top: 0 !important;
    }

    .titlePopUp {
        font-size: 15px !important;
    }
    .footContainer, .footer-contanier {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .contactus .whatIcon, .aboutus .whatIcon {
        font-size: 17px;
    }

    .showLinks .aboutus{
        height: 164px !important;
    }

}

@media (max-width:630px) {
   
    /* .footer-contanier,
    .twoImg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */

    .footerLInks .twoImg {
        margin-bottom: 0;
        margin-top: 10px;
    }
/* 
    .twoImg img {
        margin-bottom: 10px;
    }

    .footerLInks .items,
    .imgLink img {
        margin-top: 0;
    } */

    .footer-contanier>div {
        width: unset;
    }

    .contactus {
        margin-bottom: 15px;
    }

    .contactus .itemContact {
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .aboutus,
    .contactus {
        font-size: 12px;
    }

    .aboutus h1,
    .contactus h1 {
        font-size: 20px;
    }

    .contactus .whatIcon,
    .aboutus .whatIcon {
        font-size: 20px;

    }

    .footer-contanier .logo img {
        margin-bottom: 10px;
    }


}

@media (max-width:600px) {
    .cardCategory {
        width: 200px !important;
        height: 240px !important;

    }


}


@media (max-width:600px) {
    .cardCategory {
        width: 180px !important;
        height: 180px !important;
        text-align: left;
    }

    .linkCards {
        width: 50px !important;
        height: 50px !important;
    }


    .cardCategory .MuiBox-root {
        width: 120px;
        height: 100px;
        align-self: center;
        justify-self: center;
    }

    .card-contanier .contentCard {
        align-self: flex-start;
        justify-self: flex-start;
    }

}



@media (max-width:420px) {
    .cardCategory .MuiBox-root {
        width: 100px;
    }

    
}

@media (max-width:395px) {
    .cardCategory {
        width: 170px !important;
        height: 170px !important;

    }

    .cardCategory .MuiBox-root {
        height: 78px;
    }
}

@media (max-width:376px) {
    .cardCategory {
        width: 150px !important;
        height: 150px !important;

    }


}